<div class="mapWrapper viewWrapper" style="padding: 50px">

        <div class="row">
            <div class="col">

                <table class="table no-border mb-3">
                  <tbody>
                    <tr>
                      <th class="ml-0 pl-0" scope="row"><h2 class="m-0 p-0">Leaderboard</h2></th>
                      <td>
                              <input style="width: 100%; max-width: 250px; float: right;" class="form-control mb-sm-0 mb-2" type="search" placeholder="Search" ng-model="pilotfilter" aria-label="Search" >
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="responsiveTableWrapper">

                        <table class="table table-dark LeaderBoardItem">
                          <thead>
                            <tr>
                              <th class="sticky" scope="col" width="50">Pos</th>
                              <th class="sticky" scope="col" width="50">Points</th>
                              <th class="sticky">Pilot</th>
                              <th class="sticky">AA Kills</th>
                              <th class="sticky">AG Kills</th>
                              <th class="sticky">PvP Kills</th>
                              <th class="sticky">Total Kills</th>
                              <th class="sticky">PvP Deaths</th>
                              <th class="sticky">Total Deaths</th>
                              <th class="sticky">Flight Hrs</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="pilot in pilotStatistics | orderBy : 'position' | filter: pilotfilter track by $index">
                              <td scope="row">{{pilot.position}}</td>
                              <td scope="row">{{pilot.ranking}}</td>
                              <td><a href="#">{{pilot.callSign}}</a></td>
                              <td>{{pilot.aaKills}}</td>
                              <td>{{pilot.agKills}}</td>
                              <td>{{pilot.pvpKills}}</td>
                              <td>{{pilot.kills}}</td>
                              <td>{{pilot.pvpLosses}}</td>
                              <td>{{pilot.deaths}}</td>
                              <td>{{pilot.flightHours_converted}}</td>
                            </tr>
                          </tbody>
                        </table>
                </div>
                <div class="row text-center">
                    <small class="leaderboard-small" style="margin: 10px auto">Points formula: (Kills - Deaths - Friendly Incidents = Points) </small>
                </div>
            </div>
        </div>
</div>


<ng-include ng-cloak ng-controller="sideBarController" src="'ng/partials/logbook.html'"></ng-include>
