<div class="mapWrapper viewWrapper" style="padding: 50px">

        <div class="row">
            <div class="col">

                <table class="table no-border mb-3">
                  <tbody>
                    <tr>
                      <th class="ml-0 pl-0" scope="row"><h2 class="m-0 p-0">Leaderboard</h2></th>
                      <td>
                              <input style="width: 100%; max-width: 250px; float: right;" class="form-control mb-sm-0 mb-2" type="search" placeholder="Search" aria-label="Search" ng-model="pilotfilter">
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="responsiveTableWrapper">

                        <table class="table table-dark LeaderBoardItem">
                          <thead>
                            <tr>
                              <th class="sticky" scope="col" width="50">Points</th>
                              <th class="sticky">Pilot</th>
                              <th class="sticky">Kills</th>
                              <th class="sticky">Deaths</th>
                              <th class="sticky">Friendly Incidents</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="pilot in pilotStatistics | orderBy: '-ranking' | filter: pilotfilter">
                              <td scope="row">{{pilot.ranking}}</td>
                              <td><a href="#" ng-click="setPilot(pilot)" data-toggle="modal" data-target="#logBookModal">{{pilot.callSign}}</a></td>
                              <td>{{pilot.totalKills}}</td>
                              <td>{{pilot.totalDeaths}}</td>
                              <td>{{pilot.totalIncidents}}</td>
                            </tr>
                          </tbody>
                        </table>
                </div>
                <div class="row text-center">
                    <small class="leaderboard-small" style="margin: 10px auto">Points formula: (Kills - Deaths - Friendly Incidents = Points) </small>
                </div>
            </div>
        </div>
</div>


<ng-include ng-cloak ng-controller="sideBarController" src="'ng/partials/logbook.html'"></ng-include>
