<div class="mapWrapper viewWrapper" style="padding: 50px">

        <div class="row">
            <div class="col">

                <table class="table no-border mb-3">
                  <tbody>
                    <tr>
                      <th class="ml-0 pl-0" scope="row"><h2 class="m-0 p-0">Leaderboard</h2></th>
                      <td>
                              <input style="width: 100%; max-width: 250px; float: right;" class="form-control mb-sm-0 mb-2" type="search" placeholder="Search" ng-model="pilotfilter" aria-label="Search" >
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="responsiveTableWrapper">

                        <table class="table table-dark LeaderBoardItem">
                          <thead>
							<tr>
                              <th class="sticky text-center" scope="col"></th>
                              <th class="sticky text-center" scope="col"></th>
                              <th class="sticky"></th>
                              <th class="sticky text-center" colspan =6>Kills</th>
							  <th class="sticky text-center" colspan =4>Deaths</th>
                              <th class="sticky text-center" colspan =4>Total Costs of weapons and aircraft<br>in Million's USD</th>
                              <th class="sticky"></th>
                            </tr>
                            <tr>
                              <th class="sticky text-center" scope="col">Pos</th>
                              <th class="sticky text-center" scope="col">Points</th>
                              <th class="sticky">Pilot</th>
                              <th class="sticky text-center">AA</th>
							  <th class="sticky text-center">Heli</th>
                              <th class="sticky text-center">AG</th>
							  <th class="sticky text-center">Blding</th>
							  <th class="sticky text-center">Ship</th>
                              <th class="sticky bright text-center">Total</th>
							  <th class="sticky bright text-center">Pilot</th>
							  <th class="sticky bright text-center">Ejects</th>
                              <th class="sticky bright text-center">Crashes</th>
							  <th class="sticky bright text-center">Pilot Error</th>
							  <th class="sticky text-center">Wpns<br>Expended</th>
							  <th class="sticky text-center">Wpns<br>that Hit</th>
							  <th class="sticky text-center">Wpns Cost<br>Effectiveness%</th>
							  <th class="sticky text-center">Aircraft & Pilot<br>Losses</th>
                              <th class="sticky">Flight Hrs</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="pilot in pilotStatistics | orderBy : 'position' | filter: pilotfilter track by $index">
                              <td class="pos" scope="row">
                                  <span ng-if="pilot.position == 1">
                                      <img width="40" src="../img/1st.png" alt="">
                                  </span>
                                  <span ng-if="pilot.position == 2">
                                      <img width="40" src="../img/2nd.png" alt="">
                                  </span>
                                  <span ng-if="pilot.position == 3">
                                      <img width="40" src="../img/3rd.png" alt="">
                                  </span>
                                  <span ng-if="pilot.position != 1 && pilot.position != 2 && pilot.position != 3">
                                      {{pilot.position}}
                                      <span ng-init="humanize(pilot.position)"></span>
                                  </span>
                              </td>
                              <td class="text-center" scope="row">{{pilot.ranking}}</td>
                              <td class="fader {{pilot.favAircraft.frameName}}">
                                  <a ng-click="setPilot(pilot)"
                                     data-toggle="modal"
                                     data-target="#logBookModal"
                                     href="#">
                                     {{pilot.callSign}} 
                                 </a>
                              </td>
                              <td class="text-center">{{pilot.aaKills}}</td>
							  <td class="text-center">{{pilot.heliKills}}</td>
                              <td class="text-center">{{pilot.agKills}}</td>
							  <td class="text-center">{{pilot.buildings}}</td>
							  <td class="text-center">{{pilot.shipKills}}</td>
                              <td class="text-center bright">{{pilot.kills}}</td>
                              <td class="text-center bright">{{pilot.deaths}}</td>
							  <td class="text-center bright">{{pilot.ejects}}</td>
							  <td class="text-center bright">{{pilot.crashes}}</td>
							  <td class="text-center bright">{{pilot.pilotError}}</td>
							  <td class="text-center bright">{{pilot.wpncost}}</td>
							  <td class="text-center bright">{{pilot.spent}}</td>
							  <td class="text-center bright">{{pilot.wpneffect}}%</td>
							  <td class="text-center bright">{{pilot.wasted}}</td>

                              <td>{{pilot.flightHours_converted}}</td>
                            </tr>
                          </tbody>
                        </table>
                </div>
                <div class="row text-center">
                    <small class="leaderboard-small" style="margin: 10px auto">Leaderboard updates roughtly every 4 - 8 hours.
					<br> Total Flight Time: {{everystat.flightHours_converted}} | Total Weapon Cost: {{everystat.wpncostformated}} (USD) 
                </div>
            </div>
        </div>
</div>


<ng-include ng-cloak ng-controller="sideBarController" src="'ng/partials/logbook.html'"></ng-include>
