<div ng-if="loadingAwacsData"  class="radarContainer">

        <div  class="razar">
          <div class="ringbase ring1"></div>
          <div class="ringbase ring2"></div>
          <div class="pulse"></div>
          <div class="pointer">
            <div></div>
          </div>
          <div class="dot pos1"></div>
          <div class="dot pos2"></div>
        </div>
</div>
    <div class="airBaseData">
            <div id="close-airBaseData" ng-click="close_airBaseData()" style="position: absolute; top: 10px; left: 12px; cursor: pointer">✖</div>
            <ul class="list-inline m-0 p-0">
                <li class="list-inline-item"><strong>{{selectedAirBase.properties.airbasename}} : </strong></li>
                <li class="list-inline-item pull-right">{{selectedAirBase.properties.weatherstring}}</li>
            </ul>
    </div>
<div id="map" class="mapWrapper"></div>
