@ui_colors__bodyBg:                 #171B1C;

@ui_colors__primary:                #3751FF;
@ui_colors__primary-dark:           #0425ff;
@ui_colors__primary_light:          #92A0FF;
@ui_colors__primary_very_light:     #e2e1fc;

@ui_colors_grey_bg:                 @ui_colors__bodyBg;
@ui_colors_grey_dark:               #d2d8ee;

@ui_colors_border_color:            #2b3535;
@ui_colors_boder_color_dark:        #E0E1EC;

@ui_text_color:                     #647b7b;
@ui_light_text_color:               #b5c3c3;
@ui_text_dark:                      #425151;
@ui_colors_headerBar:               #171717;
@ui_colors_headerBar_color:         @ui_text_color;
h1 {
    color: @ui_colors__primary_light
}
