<div class="modal fade logBook" id="changelogModal" role="dialog" aria-labelledby="changelogModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="changelogModalLabel">changelogModal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                      <div class="p-5">
                          <p><strong>Current Version v1.9.7 <small>(15/08/2020)</small></strong></p>
                          <ul class="list-group mb-4">
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Added auto scroll bar to the left sidebar.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Fixed typo inside briefing model</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Renamed filters menu option</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Optimized Sidebar for smaller screens</li>
                          </ul>


                          <p><strong><small>(14/08/2020)</small></strong></p>
                          <ul class="list-group">
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>fixed memory leaks</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>removed players from the map</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>added cached data collection on the server to ensure new connections get a populated map within a few seconds.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>refactored the entire code base.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>removed all AI units from the map.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Remastered the red AI markers to now be actual tasks.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>added random functionality to the displayed red markers. The server will now only send a random amount of intel.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>disabled the filter functionality</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>added players aircraft type to the players list on the map.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>radded  colour codes to the players name.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled> offset scud and sam markers on the map so players must hunt for them in/around that area</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Moved the data logic from the clients to the server.</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Added briefing model</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Added Comms Card model</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Added GCI Information model</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Added upcoming features model</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" checked disabled>Added changlog model.</li>
                          </ul>

                      </div>
                  </div>
            </div>
      </div>
