<div class="modal fade logBook" id="faqModal" role="dialog" aria-labelledby="faqModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="wfaqModalLabel">Operation Persia Aflame - GCI Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                      <div class="p-5">

                          <p>
                              The Operation Persia Aflame, web GCI has been developed by the TGW team with the aim of providing the DCS
                              community a portal to:
                          </p>
                          <ul class="list-group">
                            <li class="list-group-item">Plan Missions </li>
                            <li class="list-group-item">View and monitor the operations progress</li>
                            <li class="list-group-item">Monitor their achievements and flight hours within our comprohensive pilot logbook/leaderboard</li>
                          </ul>
                          <br><br>
                          <p><strong>Important Information</strong></p>
                          <ul class="list-group">
                            <li class="list-group-item">The intel found within the GCI map is randomly generated every 5 mins. </li>
                            <li class="list-group-item">The intel does not represent the entire battle space. Only information that has been reported by
                            the coalition intelligence agency.</li>
                            <li class="list-group-item">Strike mission markers are (to the best of intelligence officers skills) accurate</li>
                            <li class="list-group-item">SEAD, and Scud hunting mission markers are only a general reference the actual unit is located within a 20km range.</li>
                          </ul>
                      </div>
                  </div>
            </div>
      </div>
