<div class="modal fade logBook" id="faqleader" role="dialog" aria-labelledby="faqleaderModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="wfaqModalLabel">Leader Board FAQ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                      <div class="p-5">

                          <p><strong>What is the Leader Board?</strong></p>
                          <ul class="list-group">
                            <li class="list-group-item">The Leaderboard is a combined list of all the pilots on the server, it is updated roughtly every 4 to 8 hours.</li>
                            <li class="list-group-item">Users are scored based on a number of items and then Ranked.</li>
                            <li class="list-group-item">You can pull your personal logobook by clicking on your name</li>
                          </ul>
                          <br><br>
                          <p><strong>SCORING</strong></p>
						  <ul class="list-group">
                            <li class="list-group-item">You gain and loose points based on a number of items.</li>
						   </ul>
                          <p><strong>Gaining Points.</strong></p>						  
                          <ul class="list-group">
                            <li class="list-group-item"><b>Buildings:</b> 1 Point </li>
							<li class="list-group-item"><b>PVP Kill:<b> 1 Point </li>
                            <li class="list-group-item"><b>Air to Ground Kill:<b> 1 Point </li>
							<li class="list-group-item"><b>Air to Helicopter Kill:<b> 2 Points </li>
							<li class="list-group-item"><b>Air to Air Kill:<b> 5 Points </li>
							<li class="list-group-item"><b>Air to Sea Kill:<b> 10 Point </li>
                          </ul>
						  <p><strong>Loosing Points.</strong></p>						  
                          <ul class="list-group">
                            <li class="list-group-item"><b>PVP Loss:</b> 1 Point </li>
                            <li class="list-group-item"><b>Pilot Death UH1 Gunner:<b> 5 Point </li>
							<li class="list-group-item"><b>Pilot Death Helicopter:<b> 10 Points </li>
							<li class="list-group-item"><b>Pilot Death Mud Movers:<b> 15 Points </li>
							<li class="list-group-item"><b>RIO Death:<b> 15 Points </li>
							<li class="list-group-item"><b>Pilot Death All Others:<b> 25 Points </li>
							<li class="list-group-item"><b>Destruction/Crash Helicopter,:<b> 10 Points </li>
							<li class="list-group-item"><b>Destruction/Crash Helicopter as Gunner:<b> 5 Points </li>
							<li class="list-group-item"><b>Destruction/Crash Mud Movers:<b> 15 Points </li>
							<li class="list-group-item"><b>Destruction/Crash RIO:<b> 15 Points </li>
							<li class="list-group-item"><b>Destruction/Crash All Others:<b> 20 Points </li>
							<li class="list-group-item"><b>Ejection Helicopter:<b> 5 Points </li>
							<li class="list-group-item"><b>Ejection Helicopter Gunnder:<b> 5 Points </li>
							<li class="list-group-item"><b>Ejection All Others:<b> 10 Points </li>
                          </ul>
						  <p><strong>Interesting Stats! Coming Soon!.</strong></p>
						  <ul class="list-group">
                            <li class="list-group-item"><b>PVP Losses:</b> {{everystat.wpncost}} </li>
						  </ul>
                      </div>
                  </div>
            </div>
      </div>
