<div class="modal fade logBook" id="faqleader" role="dialog" aria-labelledby="faqleaderModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="wfaqModalLabel">Leader Board FAQ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                      <div class="p-5">

                          <p><strong>What is the Leader Board?</strong></p>
                          <ul class="list-group">
                            <li class="list-group-item">The Leaderboard is a combined list of all the pilots on the server, it is updated roughtly every 4 to 8 hours and is reset typically each time the map is reset. Users are scored based on a number of items and then Ranked, it also contains your personal log which you can pull up at any time by clicking on your name</li>
                          </ul>
                          <br><br>
                          <p><strong>LEADERBOARD SCORING</strong></p>
						  <ul class="list-group">
                            <li class="list-group-item">The leaderboard is a ranked system which uses your stats in the mission to work out what your score is going to be, these are divided into kill points and death points, which as you might already have worked out cancel each other out! <br>This is achieved through the use of SLMOD and your stats will persist even if you change your name in game as they are tied to your Unique ID. The leaderboard is often used by the Admins to encourage or discourage certin behavours, you can find the current break down of how to gain Kill points and how to gain Death Points below.<br>Beaware though we round to the closest number when it comes to the final score and if you haven't flown for long or you haven't killed anything your score will automatically be set to -1,000,000.</li>
						   </ul>
                          <p><strong>Gaining Kill Points.</strong></p>						  
						  <ul class="list-group">
                            <li class="list-group-item">You gain points by Killing enemy units!</li>
						   </ul>
						   <p><strong>PVP Kills.</strong></p>						  
						   <ul class="list-group">
							<li class="list-group-item"><b>PVP Kill:<b> 1 Point </li>
							<li class="list-group-item"><b>PVP Kill in a Mudmover:<b> 5 Point </li>
							<li class="list-group-item"><b>PVP Kill in a Helicopter:<b> 10 Point </li>
                          </ul>
						  <p><strong>Ground Unit Kills.</strong></p>						  
							<ul class="list-group">
								<li class="list-group-item"><b>SAM:<b> 1 Point </li>
								<li class="list-group-item"><b>EWR:<b> 1 Point </li>
								<li class="list-group-item"><b>AAA:<b> 0.75 Points </li>
								<li class="list-group-item"><b>TANKS:<b> 0.5 Points </li>
								<li class="list-group-item"><b>MLRS/ARTY:<b> 0.5 Points </li>
								<li class="list-group-item"><b>IFV/APC:<b> 0.4 Points </li>
								<li class="list-group-item"><b>FORTIFICATIONS:<b> 0.3 Points </li>
								<li class="list-group-item"><b>Unarmed/Unarmored:<b> 0.2 Points </li>
								<li class="list-group-item"><b>Infantry:<b> 0.1 Points </li>
							</ul>
						  <p><strong>Aircraft Kills.</strong></p>						  
							<ul class="list-group">
								<li class="list-group-item"><b>Fighter:<b> 5 Points </li>
								<li class="list-group-item"><b>Attack:<b> 3 Point </li>
								<li class="list-group-item"><b>Bomber:<b> 3 Point </li>
								<li class="list-group-item"><b>Support:<b> 3 Points </li>
							</ul>
						  <p><strong>Helicopter Kills.</strong></p>						  
							<ul class="list-group">
								<li class="list-group-item"><b>Attack:<b> 2 Points </li>
								<li class="list-group-item"><b>Utility:<b> 1 Point </li>
							</ul>
						  <p><strong>Ships Kills.</strong></p>						  
							<ul class="list-group">
								<li class="list-group-item"><b>Warship:<b> 10 Points </li>
								<li class="list-group-item"><b>Unarmed:<b> 1 Point </li>
							</ul>
						  <p><strong>Death Points.</strong></p>		
						  <ul class="list-group">
                            <li class="list-group-item">Death Points are how you 'loose' points, they subtract from your Kill Points, like Kill points you can gain death points in a number of ways, these are listed below.</li>
						   </ul>						  
						  <p><strong>Death Events</strong></p>		
                          <ul class="list-group">
                            <li class="list-group-item"><b>PVP Loss:</b> 1 Point </li>
                            <li class="list-group-item"><b>Pilot Death UH1 Gunner:<b> 2 Point </li>
							<li class="list-group-item"><b>Pilot Death Helicopter:<b> 5 Points </li>
							<li class="list-group-item"><b>Pilot Death Mud Movers:<b> 7 Points </li>
							<li class="list-group-item"><b>RIO Death:<b> 7 Points </li>
							<li class="list-group-item"><b>Pilot Death All Others:<b> 7 Points </li>
							<li class="list-group-item"><b>Destruction/Crash Helicopter,:<b> 2 Points </li>
							<li class="list-group-item"><b>Destruction/Crash Helicopter as Gunner:<b> 1 Points </li>
							<li class="list-group-item"><b>Destruction/Crash Mud Movers:<b> 3 Points </li>
							<li class="list-group-item"><b>Destruction/Crash RIO:<b> 3 Points </li>
							<li class="list-group-item"><b>Destruction/Crash All Others:<b> 3 Points </li>
							<li class="list-group-item"><b>Ejection Helicopter:<b> 2 Points </li>
							<li class="list-group-item"><b>Ejection Helicopter Gunner:<b> 2 Points </li>
							<li class="list-group-item"><b>Ejection All Others:<b> 3 Points </li>
                          </ul>
						  <p><strong>Killed By Ground</strong></p>		
							<ul class="list-group">
								<li class="list-group-item"><b>SAM:<b> 1 Point </li>
								<li class="list-group-item"><b>EWR:<b> 1 Point </li>
								<li class="list-group-item"><b>AAA:<b> 1 Points </li>
								<li class="list-group-item"><b>MLRS/ARTY:<b> 2 Points </li>
								<li class="list-group-item"><b>IFV/APC:<b> 2 Points </li>
								<li class="list-group-item"><b>TANKS:<b> 3 Points </li>
								<li class="list-group-item"><b>FORTIFICATIONS:<b> 5 Points </li>
								<li class="list-group-item"><b>Infantry:<b> 5 Points </li>
								<li class="list-group-item"><b>Unarmed/Unarmored:<b> 10 Points </li>
							</ul>
						  <p><strong>Killed by Aircraft.</strong></p>						  
							<ul class="list-group">
								<li class="list-group-item"><b>Fighter:<b> 1 Points </li>
								<li class="list-group-item"><b>Attack:<b> 3 Point </li>
								<li class="list-group-item"><b>Bomber:<b> 4 Point </li>
								<li class="list-group-item"><b>Support:<b> 5 Points </li>
							</ul>
						  <p><strong>Killed by Helicopter.</strong></p>						  
							<ul class="list-group">
								<li class="list-group-item"><b>Attack:<b> 2 Points </li>
								<li class="list-group-item"><b>Utility:<b> 5 Point </li>
							</ul>
						  <p><strong>Killed by Ships.</strong></p>						  
							<ul class="list-group">
								<li class="list-group-item"><b>Warship:<b> 1 Points </li>
								<li class="list-group-item"><b>Unarmed:<b> 5 Point </li>
							</ul>
						  <p>Mud Movers are: A-10C, A-10C 2, F-5E-3, Su-25, Su-25T, AV8BNA</p>
						  <p><strong>Interesting Stats! Coming Soon!.</strong></p>
						  <ul class="list-group">
                            <li class="list-group-item"><b>PVP Losses:</b> {{everystat.wpncost}} </li>
						  </ul>
                      </div>
                  </div>
            </div>
      </div>
</div>