<div class="modal fade logBook" id="logBookModal" role="dialog" aria-labelledby="logBookModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="logBookModalLabel">Red Iberia Pilot Logbook</h5>
                        <h1>{{pilot.callSign}}</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body p-0">

                        <!-- <div class="row logBook_header">
                              <div class="col-3 p-3  text-center">
                                    <small>Flight HRS</small>
                                    <h5>{{pilot.totalTime}} hrs</h5>
                              </div>
                              <div class="col-3 p-3  text-center border-left">
                                    <small>Fav Aircraft</small>
                                    <h5>{{pilot.favPlane}}</h5>
                              </div>
                              <div class="col-3 p-3 text-center border-left">
                                    <small>Fav Weapon</small>
                                    <h5>AIM 120-C</h5>
                              </div>
                              <div class="col-3 p-3  text-center border-left">
                                    <small>A-A Kills</small>
                                    <h5>{{pilot.totalKills}}</h5>
                              </div>
                        </div> -->

                        <div class="row logBook_row p-0">

                              <div class="col">

                                    <div class="tab-content" id="myTabContent">
                                          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                              <div class="" ng-repeat="(key, value1) in pilot.airframes">
                                                  <table class="table">
                                                        <thead>
                                                              <tr>
                                                                    <th scope="col">{{key}}</th>
                                                              </tr>
                                                        </thead>
                                                  </table>
                                                  <table class="table" ng-repeat="(key, value1) in pilot.airframes">
                                                        <tbody>
                                                              <tr ng-repeat="(key, value2) in value1">
                                                                    <th scope="row">{{key}}</th>
                                                                    <td>{{value2}}</td>
                                                              </tr>
                                                        </tbody>
                                                  </table>
                                              </div>


                                          </div>
                                    </div>



                              </div>

                        </div>

                  </div>
            </div>
      </div>
</div>
