<div class="modal fade logBook" id="logBookModal" role="dialog" aria-labelledby="logBookModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="logBookModalLabel">Pilot Logbook</h5>
                        <h1>{{pilot.callSign}}</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body p-0">

                        <div class="row logBook_header">
                              <div class="col-4 p-3  text-center d-flex align-items-center justify-content-center flex-col">
                                    <small>Flight HRS</small>
                                    <h5 style="font-size: 15px;">{{pilot.flightHours_converted}}</h5>
                              </div>
                              <div class="col-4 p-3  text-center border-left d-flex align-items-center justify-content-center flex-col">
                                    <small>Fav Aircraft</small>
                                    <h5 style="font-size: 15px;" class="m-0 p-o">{{pilot.favAircraft.frameName}}</h5>
                                    <small style="font-size: 12px">{{pilot.favAircraft.flightHours_converted}}</small>
                              </div>
                              <div class="col-4 p-3 text-center border-left d-flex align-items-center justify-content-center flex-col">
                                    <small>Fav Weapon</small>
                                    <h5 style="font-size: 15px;">{{pilot.favweapon}}</h5>
                              </div>
                        </div>

                        <div class="row logBook_row p-0">

                              <div class="col">

                                    <ul class="nav nav-pills nav-fill mb-0" id="pills-tab" role="tablist">

                                          <!-- repeat these tab control buttons by each aircraft -->

                                          <li class="nav-item" ng-repeat="(key, value1) in pilot.allStats">
                                                <a class="nav-link pilotCard_tabButton" ng-class="{'active': $index == 0}" id="{{key}}-tab" data-toggle="tab" data-target="#{{key}}" role="tab" aria-controls="{{key}}" aria-selected="true">{{key}}</a>
                                          </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">

                                          <!-- repeat these tab panes by each aircraft -->
                                          <div class="tab-pane fade" ng-repeat="(key, obj) in pilot.allStats" ng-class="{'show active': $index == 0}" id="{{key}}" role="tabpanel" aria-labelledby="{{key}}-tab">

                                                <!-- KILLS         -->
                                                <div class="">
                                                      <table class="table mb-0">
                                                            <thead>
                                                                  <tr>
                                                                        <th scope="col">Kills</th>
                                                                  </tr>
                                                            </thead>
                                                      </table>
                                                      <table class="table w-100">
                                                            <tbody>
                                                                  <tr ng-repeat="(key, value) in obj.kills">
                                                                        <td>{{key}}</td>
                                                                        <td>

                                                                             <table class="w-100 text-center">
                                                                                    <tbody>
                                                                                          <tr>
                                                                                                <td ng-repeat="(unit, count) in value">{{unit}} {{count}}</td>
                                                                                          </tr>
                                                                                    </tbody>
                                                                              </table>

                                                                        </td>
                                                                  </tr>
                                                            </tbody>
                                                      </table>


                                                </div>

                                                <!-- Weapons -->
                                                <div class="">
                                                      <table class="table mb-0">
                                                            <thead>
                                                                  <tr>
                                                                        <th scope="col">Weapons</th>
                                                                  </tr>
                                                            </thead>
                                                      </table>
                                                      <table class="table w-100">
                                                            <tbody>
                                                                  <tr ng-repeat="(key, value) in obj.weapons">
                                                                        <td>{{key}}</td>
                                                                        <td>

                                                                              <table class="w-100 text-center">
                                                                                    <tbody>
                                                                                          <tr>
                                                                                                <td ng-repeat="(unit, count) in value">{{unit}} {{count}}</td>
                                                                                          </tr>
                                                                                    </tbody>
                                                                              </table>

                                                                        </td>
                                                                  </tr>
                                                            </tbody>
                                                      </table>


                                                </div>


                                          </div>



                                    </div>

                              </div>

                        </div>
                  </div>
            </div>
      </div>
