<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  ❱
</a>
<nav id="sidebar" class="sidebar-wrapper">

        <div>
        <!-- logo -->
            <div class="sidebar-content">

                <!-- logo -->
                <div class="sidebar-brand pb-5 pt-5">
                    <div id="close-sidebar" style="position: absolute; top: 12px;">✖</div>
                    <img src="../../img/LOGO2.png" alt="" style="width: 70%; margin: 0 auto; z-index: 9">
                </div>

            </div>

          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <span>Menu</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                        <li>
                          <a ng-class="{ activeMenuItem: $route.current.activePage == 'welcome' }" ng-href="/">
                            <span>GCI Map</span>
                          </a>
                        </li>
                        <li>
                            <a ng-class="{ activeMenuItem: $route.current.activePage == 'leaderBoard' }"
                               class=""
                               ng-href="leaderBoard">
                               leaderBoard
                            </a>
                        </li>

                        <li>
                          <a ng-href="/" data-toggle="modal" data-target="#welcomeModal">
                            <span>Briefing</span>
                          </a>
                        </li>
                        <li>
                          <a ng-href="/" data-toggle="modal" data-target="#commsModal">
                            <span>Comms Card</span>
                          </a>
                        </li>
                        <li>
                          <a ng-href="/" data-toggle="modal" data-target="#faqModal">
                            <span>GCI Info</span>
                          </a>
                        </li>
                        <li>
                          <a ng-href="https://taskgroupwarrior.info/2020/" target="_blank">
                            <span>TGW Home</span>
                          </a>
                        </li>
                        <li>
                          <a ng-href="" data-toggle="modal" data-target="#upcomingModal">
                            <span>Upcoming Features</span>
                          </a>
                        </li>
                        <li>
                          <a ng-href="" data-toggle="modal" data-target="#changelogModal">
                            <span>Changelog</span>
                          </a>
                        </li>

                        <li>
                          <a ng-href="https://gitlab.com/overlord-bot/srs-bot/-/wikis/Interaction" target="_blank">
                            <span>OVERLORD SRS BOT</span>
                          </a>
                        </li>

                    </ul>
                  </div>
                </li>






              <li ng-show="$route.current.activePage == 'welcome'" class="sidebar-dropdown">
                <a href="#">
                  <span>Filters</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="keyData.filters.Sead" ng-click="toggleFilter('Sead')" id="filter-Sead-switch" disabled ng-disbaled>
                          <label class="custom-control-label" for="filter-Sead-switch">SEAD Missions</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="keyData.filters.Scud" ng-click="toggleFilter('Scud')" id="filter-Scud-switch" disabled ng-disbaled>
                          <label class="custom-control-label" for="filter-Scud-switch">Scud Hunting</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="keyData.filters.Strike" ng-click="toggleFilter('Strike')"  id="filter-Strike-switch" disabled ng-disbaled>
                          <label class="custom-control-label" for="filter-Strike-switch">Strike Missions</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="keyData.filters.Awacs" ng-click="toggleFilter('Awacs')"  id="filter-Awacs-switch" disabled ng-disbaled>
                          <label class="custom-control-label" for="filter-Awacs-switch">AWACS Report</label>
                        </div>
                    </li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>

          <!-- players -->
          <div ng-show="$route.current.activePage == 'welcome'" class="sidebar-menu">
              <ul>
                    <li>
                        <h3>Active Pilots</h3>
                    </li>
              </ul>
          </div>
          <div ng-show="$route.current.activePage == 'welcome'" class="sidebar-menu" style="overflow-y: auto; max-height: 300px;">
            <ul>
              <li ng-repeat="i in keyData.humanPilots track by $index" ng-if="keyData.humanPilots.length > 0 && i.name != ''">
                  <a class="font13"  ng-class="{'redText': i.coalition == 1, 'blueText': i.coalition == 0 }">
                    {{i.airCraft}} - {{i.name}}
                  </a>
              </li>
              <li ng-if="keyData.humanPilots.length == 0">
                  <a class="text-center"
                     ng-href="#">
                     There are currently no active pilots deployed.
                  </a>
              </li>
            </ul>
          </div>

          <!-- sidebar-menu  -->
        </div>

        <!-- footer  -->
        <div class="sidebar-footer">
          <a>
            <small>TGW: Persia Aflame GCI: v1.9.7</small>
          </a>
        </div>
</nav>
