<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  ❱
</a>
<nav id="sidebar" class="sidebar-wrapper">


        <div class="sidebar-content">

        <!-- logo -->
          <div class="sidebar-brand pb-5 pt-5">
            <div id="close-sidebar" style="position: absolute; top: 12px;">✖</div>
            <img src="../../img/LOGO2.png" alt="" style="width: 70%; margin: 0 auto; z-index: 9">
          </div>

          <!-- Search  -->
          <!-- <div class="sidebar-search">
            <div>
              <div class="input-group">
                <input type="text" class="form-control search-menu" placeholder="Search...">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div> -->

          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li>
                <a ng-class="{ activeMenuItem: $route.current.activePage == 'welcome' }" ng-href="/">
                  <span>GCI Map</span>
                </a>
              </li>
              <li>
                  <a ng-class="{ activeMenuItem: $route.current.activePage == 'leaderBoard' }"
                     class=""
                     ng-href="leaderBoard">
                     leaderBoard
                  </a>
              </li>
              <!-- units filter -->
              <li ng-show="$route.current.activePage == 'welcome'" class="sidebar-dropdown">
                <a href="#">
                  <span>Filter Units</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="keyData.filters.Air" ng-click="toggleFilter('Air')" id="filter-air-switch">
                          <label class="custom-control-label" for="filter-air-switch">Air</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="keyData.filters.Ship" ng-click="toggleFilter('Ship')" id="filter-naval-switch">
                          <label class="custom-control-label" for="filter-naval-switch">Ship</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="keyData.filters.Ground" ng-click="toggleFilter('Ground')"  id="filter-ground-switch">
                          <label class="custom-control-label" for="filter-ground-switch">Ground</label>
                        </div>
                    </li>
                  </ul>
                </div>
              </li>




            </ul>
          </div>
          <div ng-show="$route.current.activePage == 'welcome'" class="sidebar-menu"">
              <ul>
                    <li>
                        <h3>Human Units</h3>
                    </li>
              </ul>
          </div>

          <!-- sidebar-search  -->
          <div ng-show="$route.current.activePage == 'welcome'" class="sidebar-menu" style="overflow-y: auto; max-height: 300px;">
            <ul>
              <li ng-if="keyData.humanPilots.length > 0" ng-repeat="i in keyData.humanPilots">
                  <a class="font13"
                     ng-click="moveToUnit(i)"
                     ng-href="#">
                     {{i.data.unit.playername}}
                  </a>
              </li>
              <li ng-if="keyData.humanPilots.length == 0">
                  <a class="text-center"
                     ng-href="#">
                     There are currently no human pilots deployed.
                  </a>
              </li>
            </ul>
          </div>

          <!-- sidebar-menu  -->
        </div>

        <!-- sidebar-content  -->
        <div class="sidebar-footer">
          <a>
            <small>Red Iberia GCI Dashboard: v1.3.9</small>
          </a>
        </div>
</nav>
