<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  ❱
</a>
<nav id="sidebar" class="sidebar-wrapper">


        <div class="sidebar-content">

        <!-- logo -->
          <div class="sidebar-brand pb-5 pt-5">
            <div id="close-sidebar" style="position: absolute; top: 12px;">✖</div>
            <img src="../../img/LOGO2.png" alt="" style="width: 83%; margin: 0 auto;">
          </div>

          <!-- Search  -->
          <div class="sidebar-search">
            <div>
              <div class="input-group">
                <input type="text" class="form-control search-menu" placeholder="Search...">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>

              <!-- units filter -->
              <li class="sidebar-dropdown">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                  <span>Filter Units</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="filters.Air" ng-click="toggleFilter('Air')" id="filter-air-switch">
                          <label class="custom-control-label" for="filter-air-switch">Air</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="filters.Ship" ng-click="toggleFilter('Ship')" id="filter-naval-switch">
                          <label class="custom-control-label" for="filter-naval-switch">Ship</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" ng-model="filters.Ground" ng-click="toggleFilter('Ground')"  id="filter-ground-switch">
                          <label class="custom-control-label" for="filter-ground-switch">Ground</label>
                        </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-book"></i>
                  <span>Leader Board</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>

        <!-- sidebar-content  -->
        <div class="sidebar-footer">
          <a>
            <small>Red Iberia GCI Dashboard: v1.0.1</small>
          </a>
        </div>
</nav>

<script type="text/javascript">
    $(".sidebar-dropdown > a").click(function() {
      $(".sidebar-submenu").slideUp(200);
      if (
        $(this)
          .parent()
          .hasClass("active")
      ) {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .parent()
          .removeClass("active");
      } else {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .next(".sidebar-submenu")
          .slideDown(200);
        $(this)
          .parent()
          .addClass("active");
      }
    });


    $("#close-sidebar").click(function() {
      $(".page-wrapper").removeClass("toggled");
    });

    $("#show-sidebar").click(function() {
      $(".page-wrapper").addClass("toggled");
    });
</script>
