<div class="modal fade logBook" id="welcomeModal" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="welcomeModalLabel">Welcome to Operation Persia Aflame </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                      <div class="p-5">

                        <p>
                          In preperation for a Marine landing in 7 days, Coalition forces have been tasked with neutralising the</p>
                          <ul class="list-group">
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> Irani Air Defense network, </li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> fixed troop emplacements</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> factories</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> as well as capturing and holding the islands in the Persian Gulf.</li>
                          </ul>
                          <br>
                          <br>
                              <p>
                                  In support of this goal, the USS Theordore Rosevelt and the USS Stennis Carrier groups have moved into the area,
                                  along with US, Australian and European coalition forces at Al Dhafra, Liwa and Al Minhad AFB's.
                              </p>
                              <br>
                              <br>
                              <div class="alert alert-primary" role="alert">
                                Intelligence Reports will generate every 6 hours with locations of target zones.
                              </div>
                              <br>
                              <br>
                          <p><strong>High Priority Targets are:</strong></p>
                          <ul class="list-group">
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> the IADS Network, </li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> Airfield Oil and Storage Facilties</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> Communications and Fixed Military Emplacements</li>
                            <li class="list-group-item"><input class="mr-3" type="checkbox" aria-label="Checkbox for following text input" disabled> as well as refinaries.</li>
                          </ul>
                          <br>
                          <br>
                          <div class="alert alert-primary" role="alert">
                            <h4 class="alert-heading">Be aware!</h4>
                            <p>Task Group Warrior Intelligence has reported sighting General Alexander Barksalov at the Embassey in Tehran and a
                           Russian fleet was sighted near Kuwait.</p>
                            <hr>
                            <p class="mb-0">Cat Intelligence Agents are currently investigating but if Barksalov is here our head of
                            intell Hercules claims that you should expect some Russian assets to back him up.</p>
                          </div>


                          <p>Avoid any Neutral Collaterial at all costs. <br>
                          <strong>-Admiral Kosh Ne Cat.</strong>
                      </p>



                      </div>
                  </div>
            </div>
      </div>
</div>