html, body {
    background: @ui_colors__bodyBg;
    font-family: 'Titillium Web', sans-serif;


}

.custom-switch {

            margin: 10px 0;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    color: #b8bfce;
    line-height: 23px;
    padding-left: 7px;
}

.custom-control-label::before {
    background-color: #202226;
    border: 1px solid #31353D !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #CC243D;
}

.blueText {
    color: #847EF0 !important;
}
.redText {
    color: #FF8080 !important;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 12px;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #3a3f48;
}

tr.evan {

    background: #2C2E34
}

.latLongMouse {
    position: fixed;
    top: 0;
    left: 45%;
    z-index: 999999999999999;
    background: #4f535d;
    padding: 5px 20px;
    color: rgba(255,255,255,0.5);
}


.activeMenuItem {
    color: #fff !important;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.3);
    background: #2C2E34;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-bottom: none;
    border-top-color: #202226;
    bottom: 30px;
position: relative
}

.mapboxgl-popup-content {
    position: relative;
    background: #202226;
    border-radius: 3px;
    box-shadow: 0 0 10px 9px rgba(0,0,0,0.4) !important;
    padding: 10px 10px 15px;
    pointer-events: auto;
    bottom: 30px;
    strong {
        color: #fff;
    }
    .mapboxgl-popup-close-button {
        color: #fff;
    }

    .table td, .table th {
        padding: 5px;
        vertical-align: top;
        border: 1px solid #3a3f48;
        font-size: 11px;
    }
}


.font13 {
    font-size: 13px;
}
