html, body {
    background: @ui_colors__bodyBg;
    font-family: 'Titillium Web', sans-serif;


}

.custom-switch {

            margin: 10px 0;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    color: #b8bfce;
    line-height: 23px;
    padding-left: 7px;
}

.custom-control-label::before {
    background-color: #202226;
    border: 1px solid #31353D !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #CC243D;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 12px;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #3a3f48;
}

tr.evan {

    background: #2C2E34
}

.latLongMouse {
    position: fixed;
    top: 0;
    left: 45%;
    z-index: 999999999999999;
    background: #4f535d;
    padding: 5px 20px;
    color: rgba(255,255,255,0.5);
}


.activeMenuItem {
    color: @ui_colors__primary !important;
    text-shadow: 4px 3px 4px #000;
    background: #2C2E34;
}
