.angular-mapbox-gls {
    position: relative !Important;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

     canvas {
        position: relative !Important;
        width: 100%;
        height: 100%
     }
}

.map-marker {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: red;
}
