.form-control {
    color: #fff;
    background-color: #2c2e34;
    border-color: inherite;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus {
  color: #495057;
}
