.responsiveTableWrapper {
    height: calc(~"100vh - 232px");
    overflow: auto;
}

.sticky {
    position: sticky;
    top: 0;
}

.table.no-border td, .table.no-border th {
    border: none !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 20px 12px;
}
