.responsiveTableWrapper {
    height: calc(~"100vh - 232px");
    overflow: auto;
}

.sticky {
    position: sticky;
    top: 0;
}

.table.no-border td, .table.no-border th {
    border: none !important;
}
